@font-face {
    font-family: Corbel;
    src: url(/public/src/font/Corbel_regular.ttf);
}

@font-face {
    font-family: Corbel;
    src: url(/public/src/font/Corbel_bold.ttf);
    font-weight: bold;
}

body {
    font-family: Corbel;
}

.page {
    margin: 0 auto;
    max-width: var(--page-max-width);
    left: 0;
    overflow: hidden;
}

.hide {
    display: none !important;
}

a {
    &:link {
        text-decoration: none;
        color: var(--link-color);
    }

    &:visited {
        text-decoration: none;
        color: var(--link-color);
    }

    &:hover {
        text-decoration: underline;
        color: var(--link-color-hover);
    }

    &:active {
        text-decoration: underline;
    }
}

@media (--mobile) {
    .page {
        max-width: 100%;
        overflow-x: hidden;
    }
}
