.heads {
    height: 100%;
    padding-bottom: 30px;

    &__text {
        text-align: center;
        max-width: 250px;
        margin: 0 auto;
        line-height: 1.4em;
    }

    &__man {
        display: inline-block;
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        border: 8px solid transparent;

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 8px solid var(--text-yellow);
            border-radius: 50%;

            &--heads {
                width: 232px;
                height: 232px;
            }
        }

        img {
            width: auto;
            height: 100%;
            margin-left: -50px;
        }

        &--second img {
            object-fit: cover;
            margin-left: 0;
            width: 100%;
        }

        &--guest {
            width: 150px;
            height: 150px;

            img {
                margin-left: -25px;
            }
        }
    }

    &__label {
        background: url(/public/src/img/head-label.svg);
        width: 236px;
        height: 67px;
        background-size: cover;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        line-height: 67px;
        vertical-align: middle;
        margin-bottom: 20px;
        z-index: 6;
        margin-top: 70px !important;

        &--guest {
            margin: 0 auto;
            width: 155px;
            height: 60px;
            line-height: 60px;
            margin-top: 30px !important;
            background: url(/public/src/img/guest-label.svg);
        }
    }

    &__main {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        background: #e6e7e8;
        margin-top: -47px;
        padding-top: 30px;
        position: relative;

        &::after {
            width: 0;
            height: 0;
            border-left: 1140px solid transparent;
            border-right: 0 solid transparent;
            border-bottom: 40px solid white;
            margin: 0;
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
        };

        &-item {
            margin: 0 20px;
        }
    }

    &__guests {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
    }
}
.heads__guests-item .heads__text {
    max-width: 180px;
}

@media (--mobile) {
    .heads {
        &__main {
            flex-direction: column;
            height: auto;
        }

        &__label {
            margin-top: 20px !important;
            order: -1;
        }

        &__guests {
            flex-flow: row wrap;

            &-item {
                margin: 0 50px;

                h3 {
                    margin-top: 0;
                }
            }
        }

        &__label {
            font-size: 26px;
            width: 155px;
        }

        &__main-item {
            margin: 20px auto;
            margin-top: -10px;
        }

        &__man {
            width: 150px;
            height: 150px;
            border-width: 4px;
            border-color: var(--text-yellow);

            img {
                margin-left: -25px;
            }

            &--second img {
                margin-left: 0;
            }
        }

        &__man-wrapper {
            border-width: 0;
        }

        &__man--guest {
            margin: 20px auto;
        }
    }
}
