.header-drawer {
    /*transform: translateX(-250px);*/
    transform: translateX(250px);
    position: fixed;
    top: 80px;
    /*left: 0;*/
    bottom: 0;
    background: #303037;
    color: #fff;
    z-index: 32;
    max-width: 220px;
    transition: 0.3s;

    right: 0;

    li:hover a {
        background-color: #ff8d00;
    }

    .navigation__item {
        color: var(--text-white);
        font-weight: normal;
    }

    &__ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin: 0;
        margin-top: 20px;
        overflow-x: hidden;

        li {
            flex-basis: 100%;
            padding: 0 15px;
        }
    }
}

.is-visible {
    transition: 0.3s;
    transform: translateX(0);
    transform: translateZ(0);
}
