.registration {
    margin: 20px;
    margin-bottom: 30px;
    height: 440px;
    display: flex;
    justify-content: center;
    background: url(/public/src/img/registration-bg.svg) no-repeat;
    background-size: cover;
    background-position-y: 0;
    background-position-x: 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__label {
        margin: 15px auto;
        width: 252px;
        background-image: url(/public/src/img/registration-label.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        line-height: 69px;
    }

    &__form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        margin-top: 15px;

        & input {
            margin: 7px;
            padding: 12px 15px;
            border-radius: 8px;
            border: none;
        }

        & button {
            color: #fff;
            background-color: #000;
            margin: 7px auto;
            padding: 10px;
            border-radius: 8px;
            border: none;
            width: 200px;
        }
    }
}

.registration__form--success {
    font-size: 24px;
    margin: 20px;
}

@media (--mobile) {
    .registration {
        margin: 0;
        background-image: none;
        background-color: #f6921e;
        height: 400px;
    }

    .registration__label {
        margin-bottom: 0;
    }

    .registration__label {
        width: 170px;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        line-height: 55px;
    }
}
