/**
 * Variables
 */
:root {
    --page-max-width: 1140px;

    --margin: 20px;

    /** Colors */
    --bg-dark: #231f20;
    --border-color: #444041;
    --bg-gray: #E6E7E8;

    --link-color: #BCBEC0;
    --link-color-hover: #F4F4F4;

    --text-yellow: #FFDE00;
    --text-white: #FFF;
}

/**
 * Custom media queries
 */
@custom-media --mobile all and (max-width: 1024px);
