.where {
	height: 650px;
    background: url(/public/src/img/when-where-bg.svg) no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -100px;
    &__photo {
    	height: 250px;
    	margin-left: 50px;
    }
    &__contents {
    	display: flex;
    	align-items: center;
    	justify-content: space-around;
    }
	&__label {
		background: url(/public/src/img/head-label.svg);
		width: 236px;
		height: 67px;
		background-size: cover;
		font-size: 36px;
		text-align: center;
		line-height: 67px;
		vertical-align: middle;
		margin-bottom: 25px;
	}
	&__date {
		font-size: 30px;
		color: var(--text-white);
	}
	&__time {
		font-size: 19px;
		color: var(--text-white);
		margin: 10px 0;
	}
	&__place {
		color: #FF8D00;
		font-size: 16px;
		margin-bottom: 15px;
	}
}

@media (--mobile) {
	.where {
		height: auto;
		background: radial-gradient(50% 49%, #414042 50%, #131213 85%);
		padding: 40px 0 50px;
		&__contents {
			flex-direction: column;
		}
		&__photo {
			height: 220px;
		}
	}
}